.fish__image {
    height: 100px;
}
.fishList {
    border: solid goldenrod 1em;
    
}
.fishes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fish {
    margin: 2em;
}
.fishListHeader {
    display: flex;
    justify-content: center;
}
