.location__image {
    height: 200px;
}
.locationList {
    border: solid crimson 1em
}

.locations {
    display: flex;
    justify-content: space-around;
}

.location__name {
    font-size: 20px;
}

.location {
    margin: 0.5em;
}


.locationListHeader {
    display: flex;
    justify-content: center;
}