@import "./fishList.css";
@import "./locationList.css";
@import "./quoteList.css";
@import "./tipList.css";

.body {
    display: flex;
}

.header {
    display: flex;
    background-color: darkcyan;
}

h1 {
    color: blue;
    font-size: 60px;
}
.logo {
    height: 150px;
    padding-right: 6em;
    padding-left: 1em;
}

.content--left {
    flex: 3;
}
.content--right {
    flex: 1;
}

